@import '/src/assets/styles/variables';


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  background-color:  $color-5;
  box-shadow: 0 0 10px rgb(229 229 229 / 5%);
}

.logo__background {
  background-repeat: no-repeat;
  top: 8px;
  left: 76px;
  background-size: contain;

  @include box(54, 40);
}

.logo__text {
  color: #313131;
  font-family: quicksand, sans-serif;
  left: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 8px;

  @include box(64, 40);
}

.menu {
  background-image: url('/assets/images/svg/sidebar/menu.svg');
  background-repeat: no-repeat;
  margin: 16px 24px;

  @include box(24, 24);
}

.container__menu {
  border-bottom: 1px solid $color-6-transparent;

  @include flex-center;
}

.container__user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-6-transparent;
}

.user__photo {
  background-color: $color-1;
  border-radius: 20px;
  margin: 8px 16px;
  justify-content: center;

  @include box(40, 40);
  @include flex-center;
}

.image {
  @include box(18, 20);
}

.user-name {
  opacity: 73%;

  @include font($body-font-family, $font-size-2, $color-6, $font-weight-medium, $line-height-3);
}

.container__pages {
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $color-6-transparent;
}

.pages__image {
  padding: 8px 24px;

  @include box(24, 24);
}

.page-item {
  opacity: 73%;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 240px;

  @include font($body-font-family, $font-size-2, $color-6, $font-weight-regular, $line-height-3);

  &.active {
    background-color: $color-1;
  }
}

.feed {
  height: 40px;
}