<div class="container">
  <div class="container-menu">
    <div class="menu"></div>
    <div class="menu-logo">
      <span class="logo__background"></span>
      <span class="logo__text">SKILL++</span>
    </div>
  </div>
  
  <div class="user">
    <div class="user-photo">
      <!-- <img class="image" src="../../../../assets/images/user/user.svg" alt="user photo"/> -->
    </div>
    <span class="user-name">Markus Weir</span>
  </div>

  <div class="pages">
    <div class="pages-container">
      <div class="logo-page" ></div>
      <a routerLink="/registration" routerLinkActive="active" class="page-item">Dashboard</a>
    </div>
    <div class="pages-container">
      <div class="news-page" ></div>
      <a routerLink="/feed" routerLinkActive="active" class="page-item">News Feed</a>
    </div>
  </div>
</div>